.grid {
    display: grid;
   grid-template: repeat(6, 200px) / 275px 275px 685px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 25px;
    gap: 2px;
    
}

.intoonce {
    background-color: rgba(17, 84, 35, 75%);
    border-radius: 5px;
    max-height: 810px;
    width: 45%;
    grid-area: 1 / 1 / span 2 / span 2;
    padding: 10px;
    text-align: justify;
    color: rgba(220, 220, 222, 75%);

   
}

#onceheader {
    text-align: center;
}

.remainder {
    background-color: rgba(72, 39, 112, 75%);
    padding: 10px;
    border-radius: 5px;
    width: 35%;
    color: rgba(220, 220, 222, 75%);
    grid-area: 1 / 2 / span 2 / span 2;
    text-align: center;


}

#story2header {
    color: rgba(196, 207, 207, 75%);
    
}

.avalanche {
    background-color: rgba(166, 110, 46, 75%);
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 10px;
    height: 150px;
    grid-area: 3 / 1 / span 2 / span 2;
    color: black;

}

.hightight {
    grid-area: 4 / 1 / span 2 / span 2;
    width: 45%;
    background-color: rgba(0, 32, 32, 0.75);
    padding: 10px;
    text-align: justify;
    color: rgba(220, 220, 222, 75%);
    border-radius: 5px;

}

.wwhy {
    grid-area: 4 / 2 / span 2 / span 2;
    width:35%;
    background-color: rgba(107, 31, 26, 75%);
    border-radius: 5px;
    text-align: center;
    color: rgba(220, 220, 222, 75%);

}

.story6 {
    grid-area: 6 / 1 / span 2 / span 2;
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 10px;
    height: 150px;
    background-color: rgb(207, 209, 107);
    color: black;

  
}

