.grid {
    display: grid;
   grid-template: repeat(6, 200px) / 275px 275px 685px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 25px;
    gap: 2px;
    border: 3px solid red;
    }
.intoonce {
    background-color: rgba(17, 84, 35, 75%);
    border-radius: 5px;
    max-height: 810px;
    width: 45%;
    grid-area: 1 / 1 / span 2 / span 2;
    padding: 10px;
    text-align: justify;

    
}

.remainder {
    background-color: rgba(72, 39, 112, 75%);
    padding: 10px;
    border-radius: 5px;
    width: 35%;
    color: rgba(220, 220, 222, 75%);
    grid-area: 1 / 2 / span 2 / span 2;
    text-align: center;


}

#story2header {
    color: rgba(196, 207, 207, 75%);
    
}

.avalanche {
    background-color: rgba(166, 110, 46, 75%);
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 10px;
    height: 150px;
    grid-area: 3 / 1 / span 2 / span 2;
}

.wwhy {
    grid-area: 4 / 2 / span 2 / span 2;
    width:35%;
    background-color: rgba(107, 31, 26, 75%);
    border-radius: 5px;
    text-align: center;
}

.hightight {
    grid-area: 4 / 1 / span 2 / span 2;
    width: 45%;
    background-color: rgba(68, 150, 149, 75%);
    padding: 10px;
    text-align: justify;

}

.story6 {
    grid-area: 6 / 1 / span 2 / span 2;
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 10px;
    height: 150px;
    background-color: rgba(179, 181, 54, 75%);
  
}

