.toprow {
    display: flex;
    background-image: url("/images/fiction/toprowbg.png");
    background-size: 900px 507px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 25%;
    margin-bottom: 25px;
}

.bottomrow {
    display: flex;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-image: url("/images/fiction/bottomrowbg.png");
    max-height: 25%;
    min-height: 20%;
}

.story1 {
    background-color: rgba(17, 84, 35, 75%);
    margin-left: 10%;
    margin-right: 10px;
    min-width: 250px;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    max-height: 169px;
    
}

.story2 {
    background-color: rgba(72, 39, 112, 75%);
    margin-right: 10px;
    margin-left: 20%;
    max-width: 300px;
    max-height: 169px;
    padding: 10px;
    border-radius: 5px;
    color: rgba(220, 220, 222, 75%);
}

#story2header {
    color: rgba(196, 207, 207, 75%);
}

.story3 {
    max-width: 300px;
    min-width: 250px;
    background-color: rgba(166, 110, 46, 75%);
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 10px;
    max-height: 169px;
}