nav {
    background-color: rgba(112, 69, 143, 56);
    text-align: center;
    padding: 10px;
    height: 75px;
    border-radius: 5px;
    width:50%;
    margin: 0 auto;
}

h2 {
    color: rgba(233, 233, 233);
    display: inline-block;
    background-color: rgba(83, 138, 219, 86);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px rgba(197, 167, 219, 86); 
    transition: all 500ms ease-in-out;
    font-family: 'Quicksand';
    font-weight: 300;
}

h2:hover {
    color: rgba(197, 167, 219, 86);
    box-shadow: 0px 0px rgba(83, 138, 219, 86);

}

.banner {
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto 0px auto;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(40,143,103,0.56) 50%, rgba(251,251,251,1) 100%);
    
}

.bannerimg {
    display: inline-block;
    margin-left: 10%;
    
}

