body {
    font-family: Georgia;
    
}

header {
    position: fixed;
    z-index: 0;
}

.headerimage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin: auto;
    opacity: 50%;

}

a {
    color: navy;
}

.navlinks {
    display: inline-block;
    width: 20%;
    background-color: #cccccc;
    top: 500px;
    margin-left: auto;
    border-radius: 5%;
    padding-left: 1%;
    position: fixed;
    
}

.content {
    color: black;
    margin-left: 35%;
    margin-right: 25%;
    width: 50%;
    top: 450px;
    display: inline-block;
    position: absolute;
    z-index: 11;
           
}

#title {
    margin-left: 100px;
    color: black;
    height: 110px;
    width: 75%;

}